@charset "utf-8";

body {         
  margin: 0; 
}

header {
  background: #ebf3ff;
  padding: 32px 0;
  text-align: center;
  
}

header img{
  border-radius: 50%;
}

h1 {
  margin: 16px 0 0;
  font-weight: normal;
}

p {
  margin: 0;
}

main {
  padding: 64px 0;
}

h2{
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3{
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 20px;
}

section {
  background: rgb(218, 255, 210);
  width: 400px;
  margin: 64px auto 0;
  border: 3.5px solid #000000
  /*auto는 창의크기 혹은 화면의 크기에 맞게 자동으로 조절해주는기능*/
}

section p {
  margin-top: 16px;
}

footer{
  border-top: 1px solid #ccc;
  padding: 32px 0;
  text-align: center;
}
small {
  font-size: 14px;
  color: #aaa;
}